.scraper-card-link {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	max-width: 300px;
}

.scraper-card-description {
	margin: 0;
}

.scraper-card-description p {
	margin: 4px 0;
	font-size: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.scraper-card-icon-bg {
	background-position: 50%;
	background-size: cover;
	display: block;
	border-radius: 3px;
	height: 0;
	padding-bottom: 60%;
	width: 100%;
}

.scraper-card-block {
	position: relative;
}

.scraper-card-block .elgg-image {
	position: relative;
	width: 30rem;
	max-width: 30%;
}

.elgg-module.elgg-module-scraper-card .scraper-card-block {
	padding: 0;
}

@media $(media-mobile-only) {
	.scraper-card-block {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.scraper-card-block .elgg-image {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
	.scraper-card-block .elgg-body {
		padding: 1rem;
	}
}

.scraper-card-flex {
	position: relative;
	padding: 0;
	padding-bottom: 75%;
	height: 0;
	margin-bottom: 0;
	overflow: hidden;
	max-height: 75vh;
}

.scraper-card-flex.widescreen,
.scraper-card-flex.scraper-card-youtube,
.scraper-card-flex.scraper-card-vimeo {
	padding-bottom: 56.25%;
}

.scraper-card-flex iframe,
.scraper-card-flex object,
.scraper-card-flex embed,
.scraper-card-flex video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scraper-card-photo {
	max-width: 500px;
	height: auto;
}

.scraper-play-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px;
	font-size: 35px;
	color: red;
	text-shadow: 0 0 2px #fff;
	cursor: pointer;
}

.scraper-play-button .elgg-icon {
	font-size: inherit;
	color: inherit;
}

.scraper-link {
	line-height: 110%;
	vertical-align: middle;
}

.scraper-link .favicon {
	background-size: 16px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0 5px;
}

.scraper-link .link {
	margin: 0 5px;
}

.elgg-menu-scraper-card {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0 0.25rem;
}

.elgg-menu-scraper-card > li > a {
	padding: 0.25rem 0.5rem;
}


